@import "generales/variables";

/* fuente */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
/* fuente */

/* reset */
* {
  margin: 0;
  padding: 0;
}
/* reset */

body {
  font-family: $font;
  background-color: #b7babd;
}

html {
  font-size: 62.5%;
}

/* header */

@import "generales/headerfooter";
@import "page/index";
@import "page/contacto";
@import "page/hidraulica";
@import "page/mangueras";
@import "page/servicios";
@import "page/mediaq";
