/* clientes */
.titnuestro {
  text-decoration: underline;
  margin-top: 50px;
  font-size: 5rem;
}

.caja-cliente {
  display: flex;
  justify-content: space-between;

  .cliente {
    width: 200px;
    height: 200px;
  }
}

/* clientes */
